{{define "index"}}
{{template "_head"}}
{{template "_menu"}}

<body>
    <div class="container">
        <section class="card">
            <div>
            
                <table class="table table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Função deletar</th>
                            <th>Função atualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .}}
                        <tr>
                            <td>{{.Nome}}</td>
                            <td>{{.Descricao}}</td>
                            <td>{{.Valor}}</td>
                            <td>{{.Quantidade}}</td>
                            <td><button onclick="OnConfirmaDelete('{{.Id}}')"  class="btn btn-danger">Deletar</button></td>
                            <td><a href="/editProduto?id={{.Id}}" class="btn btn-info">Alterar</a></td>
                        </tr>    
                        {{end}}                          
                    </tbody>                
                </table>                
            </div>
        </section>
        </div class="card-footer">
            <a href="/newProduto" class="btn btn-primary mb-2">Criar novo produto</a>
        </div>
    </div>
</body>

<script>    
    function OnConfirmaDelete(id) {
        let resposta = confirm("Confirmar deletar o produto ?")
        if (resposta) {
            window.location = "/deleteProduto?id="+ id
        }
    }

</script>

</html>
{{end}}